#container{
 width: 920px;
 height:700px;
 background-color: rgba(238, 230, 240, 0.72);
 display: inline-block;
}
#stat{
    width: 300px;
    height: 500px;
    background-color: #A9D8FF;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
#stat img{
    display: block;
    width: 150px;
    margin-left: 70px;
}
#stat li{
    list-style: inside;
    text-align: left;
    margin-left: 60px;
    /* position:relative;
    left:0%; */
}